
@model IEnumerable<EntdeckenMusterRegion.Models.Post>
@{
    Layout = "_Layout";
}

<h1>Explorer Blog</h1>

<p>
    Text, Text!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</p>

<div class="blog-posts">
    @foreach (var post in Model)
    {
        @await Html.PartialAsync("_Post", post)
    }
</div>